* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: whitesmoke;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: darkslategrey;
    color: aliceblue;
}

header h1 {
    background-color: darkgoldenrod;
    padding: 5px;
}

/* This means that the <nav> in the <header> is going to have a line-height of 200% so that when the screen shrinks and the links go on top of one another, there is ample space. Additionally, there will be an auto margin from the top (GO OVER THIS WITH ERIK) and 10px on the sides.*/
header nav {
    margin: auto 10px;
    line-height: 200%;
}

/* This means that ... */
header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 35px;
}

header nav ul li a {
    color: aliceblue;
    text-decoration: none;
}

#about-me {
    background-color: cadetblue;
    padding: 10px;
    border: 5px solid green;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

#about-me h2 {
    float: left;
    border-bottom: 5px dotted black;
    text-align: center;
    padding: 10px;
}

#about-me div {
    display: flex;
    flex-direction: row;
}

#about-me div p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

/*SHOULD I BE CHANGING HOW THIS IMAGE IS CENTERED??*/

#about-me div img {
    float: right;
    width: 15%;
    height: 15%;
}

#my-work {
    background-color: lightsteelblue;
    padding: 10px;
    border: 5px solid navy;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

#my-work h2 {
    float: left;
    border-bottom: 5px dotted black;
    text-align: center;
    padding: 10px;
}

#my-work div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
    /*how would i use align-content here?*/
}

#my-work div article {
    margin: 5px 20px;
    padding: 0px 10px 10px 10px;
    border: 3px solid blueviolet;
}

#my-work div article h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

#my-work div #main-project {
    width: 100%;
}

#my-work div #main-project img {
    width: 100%;
}

#my-work div #main-project p {
    width: 100%;
    text-align: center;
}

#my-work div #small-project {
    width: 45%;
}

#my-work div #small-project img {
    width: 100%;
}

#my-work div #small-project p {
    width: 100%;
    text-align: center;
}

/* do i need to use @media screen stuff etc. ???*/

@media screen and (max-width: 855px) {
    #my-work div #small-project {
        width: 75%
    }
}

#contact-me {
    background-color: steelblue;
    margin-top: 3px;
    padding: 10px;
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
}

#contact-me h2 {
    float: left;
    border-bottom: 5px dotted black;
    text-align: center;
    padding: 10px;
}

#contact-me p {
    padding-left: 10px;
    padding-right: 10px;
}