/* This universal selector means that all objects with have box-sizing set to border-box, the given font family, and a border radius set to 10px */
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
}

/* This selector means that all <h2> tags within a <section> will have a border-radius set to 0 */
section h2 {
    border-radius: 0px;
}

/* This selector means that all elements in the <body> tag will have a background color of whitesmoke unless otherwise indicated */
body {
    background-color: whitesmoke;
}

/* This selector means that all elements in the <header> tag will be set to display:flex, have justify-content set to space-between, have 15px of padding, a background color of darkslategrey, and text color of aliceblue */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: darkslategrey;
    color: aliceblue;
}

/* This selector means that all <h1> tags within <header> will have a background color of darkgoldenrod and 5px of padding */
header h1 {
    background-color: darkgoldenrod;
    padding: 5px;
}

/* This selector means that the <nav> in the <header> is going to have a line-height of 200%. Additionally, there will be an auto margin from the top/bottom and 10px margin on the sides */
header nav {
    line-height: 200%;
    margin: auto 10px;
}

/* This selector means that all <ul> tags within <nav> within <header> will have list-style-type set to none */
header nav ul {
    list-style-type: none;
}

/* This selector means that all <li> items within <ul> within <nav> within <header> will be set to display:inline-block and have margin-left set to 35px */
header nav ul li {
    display: inline-block;
    margin-left: 35px;
}

/* This selector means that all <a> items within <li> items within <ul> within <nav> within <header> will have text color set to aliceblue and text-decoration set to none (no underline) */
header nav ul li a {
    color: aliceblue;
    text-decoration: none;
}

/* This selector means that all elements with the id="about-me" will have a background-color of cadetblue, 10px of padding, a 5px solid green border, 3px of margin on the top, set to display:flex, and have a flex-direction of column */
#about-me {
    background-color: cadetblue;
    padding: 10px;
    border: 5px solid green;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

/* This selector means that all <h2> elements within an element with the id="about-me" will have a 5px dotted black border on the bottom, will be set to text-align center, and have 10px of padding */
#about-me h2 {
    border-bottom: 5px dotted black;
    text-align: center;
    padding: 10px;
}

/* This selector means that all <div> tags within an element with the id="about-me" will be set to display:flex, will have flex-direction set to row, and will have align-items set to center */
#about-me div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* This selector means that all <p> tags within <div> tags within an element with the id="about-me" will have 10px of padding on the left and right and will be set to text-align justify */
#about-me div p {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

/*  This selector means that all <img> tags within a <div> within an element of id="about-me" will have a minimum width of 150px, be set to width/height of 15%, and have 10px of margin on the left */
#about-me div img {
    min-width: 150px;
    margin-left: 10px;
    width: 15%;
    height: 15%;
}

/* This selector means that all elements with the id="my-work" will have a background that is a gradient from yellow to violet, 10px of padding, a 5px solid navy border, 3px of margin on the top, set to display:flex, and have a flex-direction of column */
#my-work {
    background-image: linear-gradient(yellow, violet);
    padding: 10px;
    border: 5px solid navy;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

/* This selector means that all <h2> elements within an element with the id="my-work" will have a 5px dotted black border on the bottom, will be set to text-align center, and have 10px of padding */
#my-work h2 {
    border-bottom: 5px dotted black;
    text-align: center;
    padding: 10px;
}

/* This selector means that all <div> tags within an element with the id="my-work" will be set to display:flex, flex-wrap set to wrap, flex-direction of row, justify-content center, and 10px of padding on the right */
#my-work div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
}

/* This selector means that all <article> tags within <div> tags within an element with the id="my-work" will have 5px of margin on the top/bottom and 20px on the sides, 0px of padding on the top and 10px everywhere else, and a 3px solid blueviolet border */
#my-work div article {
    margin: 5px 20px;
    padding: 0px 10px 10px 10px;
    border: 3px solid blueviolet;
}

/* This selector means that all <h3> tags within <article> tags within <div> tags within an element with the id="my-work" will be set to text-align center, have text-decoration set to underline, and will have a font-size of 20px */
#my-work div article h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

/* This selector means that all elements with the id="main-project" within a <div> within an element with the id="my-work" will have a width set to 100% */
#my-work div #main-project {
    width: 100%;
}

/* This selector means that all <img> elements within an element with the id="main-project" within a <div> within an element with the id="my-work" will have a width set to 100% */
#my-work div #main-project img {
    width: 100%;
}

/* This selector means that all <p> elements within an element with the id="main-project" within a <div> within an element with the id="my-work" will have a width set to 100% and will be set to text-align center */
#my-work div #main-project p {
    width: 100%;
    text-align: center;
}

/* This selector means that all elements with the class="small-project" within a <div> within an element with the id="my-work" will have a width set to 45% */
#my-work div .small-project {
    width: 45%;
}

/* This selector means that all <img> elements within an element with the class="small-project" within a <div> within an element with the id="my-work" will have a width set to 100% */
#my-work div .small-project img {
    width: 100%;
}

/* This selector means that all <p> elements within an element with the class="small-project" within a <div> within an element with the id="my-work" will have a width set to 100% and will be set to text-align center */
#my-work div .small-project p {
    width: 100%;
    text-align: center;
}

/* This media query means that from screen widths 0-855px, elements of the class="small-project" within a <div> within an element of id="my-work" will have a width of 75% */
@media screen and (max-width: 855px) {
    #my-work div .small-project {
        width: 75%
    }
}

/* This selector means that all elements of id="contact-me" will have a background color of steelblue, margin-top of 3px, 10px of padding, a 5px solid purple border, set to display:flex and with flex-direction set to column */
#contact-me {
    background-color: steelblue;
    margin-top: 3px;
    padding: 10px;
    border: 5px solid purple;
    display: flex;
    flex-direction: column;
}

/* This selector means that all <h2> tags within an element of id="contact-me" will be set to float left, have a 5px dotted black bottom border, set to text-align center, and 10px of padding */
#contact-me h2 {
    float: left;
    border-bottom: 5px dotted black;
    text-align: center;
    padding: 10px;
}

/* This selector means that all <p> tags within an element of id="contact-me" will have 10px of padding on the left and right */
#contact-me p {
    padding-left: 10px;
    padding-right: 10px;
}